module.exports = {
    mysql:{
        host:'localhost',
        database:'socmed_monitor',
        user:'root',
        password:'bronzecopper'
    },
    socket_server:{
        host:'http://localhost:3000'
    }
};