{
    "consumer_key": "NKHjZTcYzWRetJn79T3NtBpHP",
    "consumer_secret": "KhlPIKxbN5w8sQQNipVfE9c3BhJvm9x5QKNaPgs5ZDOJad3lSx",
    "access_token": "56372890-HQFdcP9Jm8h1jMJd87HD0yCE96IW2fZi4Os60yE7i",
    "access_token_secret": "EzPwMTNlEPDTzi0MTEHnW7ycTTkntdpNMuOtBAqPvdJ7T"
}